@font-face {
    font-family: 'msi';
    src: url('../fonts/Vazir.eot') format('eot');
    src : url('../fonts/Vazir.ttf') format('truetype'),
    url('../fonts/Vazir.woff') format('woff');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    direction: rtl;
    font-family: 'vazir';
    background-color: #1b203d;
}



.slidenav{
    width: 300px;
    height: 100%;
    position: fixed;
    background: #272c4a;
    z-index: 1;
    top: 0;
    right: 0;
    padding-top: 30px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.slidenav .logo{
    color: #fff;
    font-size: 30px;
    letter-spacing: 3px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

.slidenav .logo span{
    color: #f7403b;
}
.slidenav .logo.active{
    opacity: 0;
    visibility: hidden;
}
.slidenav a{
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 15px 30px 15px 8px;
    font-size: 18px;
    color: #818181;
    height: 50px;
    overflow: hidden;
}

.slidenav a.is-active{
    color: #f1f1f1;
    background: #1b203d;
}



/* .slidenav a span{
    display: flex;
    align-items: center;
} */

.slidenav a span svg{
    margin-left: 10px;
}

#mySlidenav.active{
    width: 80px;
}


#main{
    margin-right: 300px;
    padding: 15px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

#main.active{
    margin-right: 100px;
}

#main .head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px 20px 20px;
}

#main .head .fa-bars{
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

#main .head .nav2{
    color: #fff;
    font-size: 25px;
}

#main .head .prof-admin p{
    color: #fff;
    font-size: 14px;
}

#main .head .prof-admin span{
    color: #8e8e8e;
    font-size: 12px;
    display: block;
}

#main .information{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

#main .information .col-div-3{
    flex: 0 0 calc(25% - 20px);
    max-width: calc(25% - 20px);
}

#main .information .col-div-3 .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #272c4a;
    padding: 25px 50px;
}

#main .information .col-div-3 .box .box-icon svg{
    color: #818181;
    font-size: 40px;
}
#main .information .col-div-3 .box .box-text{
    font-size: 35px;
    color: white;
    text-align: center;
}
#main .information .col-div-3 .box .box-text h4{
    font-size: 38px;
    font-weight: 700;
}
#main .information .col-div-3 .box .box-text h3{
    font-size: 20px;
    font-weight: 400;
    color: #818181;
    margin-top: 15px;
}

#main .main-content{
    padding: 20px;
    /*margin-top: 30px;*/
    background:#eeeeee; /*#272c4a;*/
}

#main .main-content h2{
    color: #f7403b;
    margin-bottom: 30px;
}

#main .main-content table{
    width: 100%;
    border-collapse: collapse;
}

#main .main-content table tr td,#main .main-content table th{
    padding: 15px;
    /*color: #ddd;*/
    text-align: right;
    border-bottom: 1px solid rgba(126,126,126,.2);
}



.icon-a.active{
    visibility: hidden;
}
.icon.active{
    visibility: visible;
}
.page-item.active .page-link{
    background-color: #f7403b;
    border-color: #f7403b;
}

.form-group{
    width: 100%;
    margin-top: 30px;
}
.form-group label{
    display: block;
    margin: 10px;
    /*color: #fff;*/
    width: 100%;
}

.form-group input{
    width: 40%; /*50%*/
    padding: 10px;
    border: none;
    font-size: 14px;
    outline: none;
}

.form-group select{
    padding: 10px;
    width: 50%;
    margin-top: 10px;
    outline: none;
}
.form-group select option{
    padding: 7px;
}
.form-group textarea{
    width: 50%;
    padding: 10px;
    border: none;
    font-size: 14px;
    outline: none;
}
.form-group .btn-admin{
    background: #f7403b;
    color: #fff;
    width: 180px;
    padding: 7px 10px;
    margin-top: 30px;
}

.form-container{
   width:90%;
    /*float: right;*/
}

.form-group-row{
    /*width: 100%;*/
    margin-top: 30px;
}
.form-group-cell{
    /*width: 100%;
    margin-top: 30px;*/
    display: inline-block;

}
/*.form-group label{
    display: block;
    margin: 10px;
    /*color: #fff;*//*
    width: 100%;
}*/

.form-group-cell label{
    display: block;
    margin: 5px;
    /*color: #fff;*/
    width: 50%;
}

.lbl2{
    display: inline !important;
    margin: 5px;
    padding: 5px;
    /*color: #fff;*/
    /*width: 50%;*/
}

.form-group-cell input[type=text],
.form-group-cell input[type=password]{
    width: 300px;
    padding: 10px;
    font-size: 14px;
    outline: none;
    border-radius: 0.25rem;
    border:1px solid #ced4da;

}

.form-group-cell textarea{
    width: 90%;
    padding: 10px;
    font-size: 14px;
    outline: none;
    border-radius: 0.25rem;
    border:1px solid #ced4da;
    height: 120px;
}

.form-group-cell input[type=text]:focus,
.form-group-cell input[type=password]:focus
{
   outline: none !important;
   border:2px solid #bfdeff;
   box-shadow: 0 0 5px #719ECE;
}

.form-group-cell select{
    padding: 5px;
    width:250px;
    margin-top: 10px;
    outline: none;
}
.form-group-cell select option{
    padding: 2px;
}

.form-group-cell input[type=radio]{
margin-left:7px;
margin-right: 20px}


.btnDefault{
    background-color: #0069d9;
    cursor: pointer;
    color:#ffffff;
    border:none;
    font-size: 12px;
    border-radius: 5px;
}

.btnDefaultDisable{
    background-color: #cccccc;
    color:#000000;
    border:none;
    font-size: 12px;
    border-radius: 5px;
}

.txtDefaultDisable{
    color: #cccccc !important;
}

.panel-btn{
    background: #f7403b;
    width: 200px;
    display: block;
    margin-top: 30px;
    color: #fff;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
}

.panel-btn:hover{
    color: #000;
}

.admin-panel-btn{
    width: 170px;
    /*display: block;*/
    margin-top: 5px;
    color: #fff;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    display:inline-block;
    float: left;
    margin-right: 10px;
    font-size: 14px;
    padding: 10px;
    /*transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;*/
}

.admin-panel-btn:hover{
    color: #000;
    /*transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;*/
}

.btn-green{
    background: #28a745;
}
.btn-green:hover{
    background-color: #e0a800;
}

.btn-blue{
    background: #0069d9;
}
.btn-blue:hover{
    background-color: #e0a800;
}


.formTable{
    width:80% !important;
}
.formTable tr td{
padding:0 !important;border-bottom: none !important}

@media screen and (max-width: 992px){
    #main .information{
        flex-wrap: wrap;
    }
    #main .information .col-div-3{
        flex: 0 0 calc(100%);
        max-width: calc(100%);
        margin-top: 20px;
    }
}
